.borderbg {
    background: -webkit-gradient(linear, left top, right top, from(#243b55), to(#141e30));
    background: -webkit-linear-gradient(left, #243b55, #141e30);
    background: -o-linear-gradient(left, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    z-index:11;
  }

.modal-content{
  background:rgba(0,0,0,0.3);
}