<div class="container">
      
	  
  <div class="">
    <div class="row" style="padding:30px 0px;">
        <div class="col-sm">
          Movie Name
        </div>
        <div class="col-sm">
          
        </div>
        <div class="col-sm" style="text-align:right;">
          Date and seat
        </div>
  </div>
  
  <div class="row" style="margin-top:-75px;">
        <div class="video">
          <iframe width="100%" height="345" src="https://www.youtube.com/embed/EuOlYPSEzSc?autoplay=1&muted=1&rel=0">
          </iframe>
        </div>
    </div>
  
  
  <div class="row" style="margin-top:-50px;z-index:10">
      <div style="width:100%;z-index:inherit">Diamond-165</div>
      <div style="margin:0 auto;z-index:inherit">
          <table>
             <tr>
               <td>A</td>
               <td>
                 <div class="seatstyle">A1</div>
                 <div class="seatstyle">A2</div>
                 <div class="seatstyle">A3</div>
                 <div class="seatstyle">A4</div>
                 <div class="seatstyle">A5</div>
                 <div class="seatstyle">A6</div>
                 <div class="seatstyle">A7</div>
                 <div class="seatstyle">A8</div>
                 <div class="seatstyle">A9</div>
                 <div class="seatstyle">A10</div>
                 <div class="seatstyle">A11</div>
                 <div class="seatstyle">A12</div>
                 <div class="seatstyle">A13</div>
                 <div class="seatstyle">A14</div>
                 <div class="seatstyle">A15</div>
                 <div class="seatstyle">A16</div>
                 <div class="seatstyle">A17</div>
                 <div class="seatstyle">A18</div>
                 <div class="seatstyle">A19</div>
                 <div class="seatstyle">A20</div>
                 <div class="seatstyle">A21</div>
                 <div class="seatstyle">A22</div>
                 <div class="seatstyle">A23</div>
                 <div class="seatstyle">A24</div>
                 <div class="seatstyle">A25</div>
                 <div class="seatstyle">A26</div>
                 <div class="seatstyle">A27</div>
                 <div class="seatstyle">A28</div>
                 <div class="seatstyle">A29</div>
                 <div class="seatstyle">A30</div>
               </td>
            </tr>
            <tr>
               <td>B</td>
               <td>
                 <div class="seatstyle">B1</div>
                 <div class="seatstyle">B2</div>
                 <div class="seatstyle">B3</div>
                 <div class="seatstyle">B4</div>
                 <div class="seatstyle">B5</div>
                 <div class="seatstyle">B6</div>
                 <div class="seatstyle">B7</div>
                 <div class="seatstyle">B8</div>
                 <div class="seatstyle">B9</div>
                 <div class="seatstyle">B10</div>
                 <div class="seatstyle">B11</div>
                 <div class="seatstyle">B12</div>
                 <div class="seatstyle">B13</div>
                 <div class="seatstyle">B14</div>
                 <div class="seatstyle">B15</div>
                 <div class="seatstyle">B16</div>
                 <div class="seatstyle">B17</div>
                 <div class="seatstyle">B18</div>
                 <div class="seatstyle">B19</div>
                 <div class="seatstyle">B20</div>
                 <div class="seatstyle">B21</div>
                 <div class="seatstyle">B22</div>
                 <div class="seatstyle">B23</div>
                 <div class="seatstyle">B24</div>
                 <div class="seatstyle">B25</div>
                 <div class="seatstyle">B26</div>
                 <div class="seatstyle">B27</div>
                 <div class="seatstyle">B28</div>
                 <div class="seatstyle">B29</div>
                 <div class="seatstyle">B30</div>
               </td>
            </tr>
      <tr>
               <td>&nbsp;</td>
               <td>
                 
               </td>
            </tr>
            <tr>
               <td>C</td>
               <td>
                 <div class="seatstyle">C1</div>
                 <div class="seatstyle">C2</div>
                 <div class="seatstyle">C3</div>
                 <div class="seatstyle">C4</div>
                 <div class="seatstyle">C5</div>
                 <div class="seatstyle">C6</div>
                 <div class="seatstyle">C7</div>
                 <div class="seatstyle">C8</div>
                 <div class="seatstyle">C9</div>
                 <div class="seatstyle">C10</div>
                 <div class="seatstyle">C11</div>
                 <div class="seatstyle">C12</div>
                 <div class="seatstyle">C13</div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle">C16</div>
                 <div class="seatstyle">C17</div>
                 <div class="seatstyle">C18</div>
                 <div class="seatstyle">C19</div>
                 <div class="seatstyle">C20</div>
                 <div class="seatstyle">C21</div>
                 <div class="seatstyle">C22</div>
                 <div class="seatstyle">C23</div>
                 <div class="seatstyle">C24</div>
                 <div class="seatstyle">C25</div>
                 <div class="seatstyle">C26</div>
                 <div class="seatstyle">C27</div>
                 <div class="seatstyle">C28</div>
                 <div class="seatstyle">C29</div>
                 <div class="seatstyle">C30</div>
               </td>
            </tr>
            <tr>
               <td>D</td>
               <td>
                 <div class="seatstyle">D1</div>
                 <div class="seatstyle">D2</div>
                 <div class="seatstyle">D3</div>
                 <div class="seatstyle">D4</div>
                 <div class="seatstyle">D5</div>
                 <div class="seatstyle">D6</div>
                 <div class="seatstyle">D7</div>
                 <div class="seatstyle">D8</div>
                 <div class="seatstyle">D9</div>
                 <div class="seatstyle">D10</div>
                 <div class="seatstyle">D11</div>
                 <div class="seatstyle">D12</div>
                 <div class="seatstyle">D13</div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle">D16</div>
                 <div class="seatstyle">D17</div>
                 <div class="seatstyle">D18</div>
                 <div class="seatstyle">D19</div>
                 <div class="seatstyle">D20</div>
                 <div class="seatstyle">D21</div>
                 <div class="seatstyle">D22</div>
                 <div class="seatstyle">D23</div>
                 <div class="seatstyle">D24</div>
                 <div class="seatstyle">D25</div>
                 <div class="seatstyle">D26</div>
                 <div class="seatstyle">D27</div>
                 <div class="seatstyle">D28</div>
                 <div class="seatstyle">D29</div>
                 <div class="seatstyle">D30</div>
               </td>
            </tr>
            <tr>
               <td>E</td>
               <td>
                 <div class="seatstyle">E1</div>
                 <div class="seatstyle">E2</div>
                 <div class="seatstyle">E3</div>
                 <div class="seatstyle">E4</div>
                 <div class="seatstyle">E5</div>
                 <div class="seatstyle">E6</div>
                 <div class="seatstyle">E7</div>
                 <div class="seatstyle">E8</div>
                 <div class="seatstyle">E9</div>
                 <div class="seatstyle">E10</div>
                 <div class="seatstyle">E11</div>
                 <div class="seatstyle">E12</div>
                 <div class="seatstyle">E13</div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle nobg"></div>
                 <div class="seatstyle">E16</div>
                 <div class="seatstyle">E17</div>
                 <div class="seatstyle">E18</div>
                 <div class="seatstyle">E19</div>
                 <div class="seatstyle">E20</div>
                 <div class="seatstyle">E21</div>
                 <div class="seatstyle">E22</div>
                 <div class="seatstyle">E23</div>
                 <div class="seatstyle">E24</div>
                 <div class="seatstyle">E25</div>
                 <div class="seatstyle">E26</div>
                 <div class="seatstyle">E27</div>
                 <div class="seatstyle">E28</div>
                 <div class="seatstyle">E29</div>
                 <div class="seatstyle">E30</div>
               </td>
            </tr>
        </table>
      </div>
    </div>
  
  
  <div class="row" style="display:flex;justify-content:center;margin-top:10px;">
  <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
    Book
  </button></div>
  
 </div>	
  
  
</div>


<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close buttonclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Booking Summary</h4>
      </div>

      <div class="modal-body">
        <div class="row" style="margin-bottom:10px;">
          <div style="width:60%;text-align:left;word-wrap:break-word;">Diamond : H11,H12</div>
          <div style="width:40%;text-align:right;">Rs : 250</div>
        </div>
        <div class="row" style="margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted;">
            <div style="width:60%;text-align:left;word-wrap:break-word;">Internet Handling Charges</div>
          <div style="width:40%;text-align:right;">Rs : 35</div>
        </div>
        
        <div class="row" style="margin-bottom:25px;padding-bottom:20px;border-bottom:1px dotted;">
            <div style="width:60%;text-align:left;word-wrap:break-word;">Sub-Total</div>
          <div style="width:40%;text-align:right;">Rs : 285</div>
        </div>
        
        <div class="row" style="margin: 20px 0px;">
            <div style="width: 100%;text-align: center;word-wrap:break-word;font-size: 11px;color: #ccc;">
          Current State : TamilNadu</div>
        </div>
        
        <div class="row" style="margin: 50px 0px;">
            <div style="width: 100%;text-align: center;word-wrap:break-word;font-size: 11px;color: #ccc;">
          <button style="background: rgba(0, 201, 167, 0.9);outline: none;border: none;padding:10px;">PROCEED</button></div>
        </div>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->