

<!-- <div class="oe_wrapper">
    <div id="filter_overlay" class="oe_overlay" style="opacity: 0"></div>
    <ul id="filter_menu" class="oe_menu">
      <li class="">
        <div id="filter" style="z-index: 1;">
          <ul>
            <li class="oe_heading">Language</li>
            <li>
              <a href="#">
                English
              </a>
            </li>
            <li><a href="#">Tamil</a></li>
            <li><a href="#">Hindi</a></li>
            <li><a href="#">Malayalam</a></li> 
            <li><a href="#">Telugu</a></li> 
          </ul>
          <ul>
            <li class="oe_heading">Genre</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Animation</a></li>
            <li><a href="#">Biography</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Crime</a></li>
            <li><a href="#">Drama</a></li>
            <li><a href="#">Horror</a></li>
            <li><a href="#">Sci-Fi</a></li>
            <li><a href="#">Thriller</a></li>
            
          </ul>
          <ul>
            <li class="oe_heading">Categories</li>
            <li><a href="#">2-D</a></li>
            <li><a href="#">3-D</a></li>
            <li><a href="#">IMax -2D</a></li>
            <li><a href="#">IMax-3D</a></li>
          </ul>
        </div>
      </li>
    </ul>	
  </div> -->