.mainbg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSphreIhtph28vrJxNQI_BLzj8UgozfqRhUDmxyb6KAzsy2IGHAIQ); */
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* border: 5px solid red; */
    /* filter: blur(16px); */
}
  
.secondaryinsidebg {
    /* position: absolute; */
    /* border: 1px solid red; */
    height: 150%;
    width: 1500px;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSphreIhtph28vrJxNQI_BLzj8UgozfqRhUDmxyb6KAzsy2IGHAIQ); */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(35px);
    filter: blur(35px);
    top: 0;
    left: 0;
    background-position: left;
}
  .posrel {
    position: relative;
}